{# ID used for a keyboard navigation skip link #}
<ul class="navbar-nav" id="secondary-navigation">
  <li class="nav-item">
    <a class="nav-link" href="{{ app.request.getBaseURL() }}/" target="_blank" data-bypass>
      {{ bootstrap_icon('box-arrow-up-right') }}
      Visit Site
    </a>
  </li>
  {% if app.user %}
    <li class="nav-item">
      <a class="nav-link" href="{{ path('user_profile') }}">
        {{ bootstrap_icon('person') }}
        Profile
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ path('user_logout') }}">
        {{ bootstrap_icon('box-arrow-right') }}
        Logout
      </a>
    </li>
  {% else %}
  <li class="nav-item">
    <a class="nav-link" href="{{ path('user_login') }}">
      {{ bootstrap_icon('box-arrow-in-right') }}
      Login
    </a>
  </li>
  {% endif %}
</ul>
