<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% include '@OHMediaBackend/include/favicons.html.twig' %}

  {% set meta_title = block('meta_title') is defined
    ? block('meta_title')
    : null
  %}

  {{ meta_simple(meta_title) }}

  {{ encore_entry_link_tags('backend', null, 'backend') }}

  {% include '@OHMediaBackend/include/stylesheets_global.html.twig' %}

  {% block stylesheets %}{% endblock %}
</head>
<body>
  <nav id="top-nav" class="navbar navbar-light fixed-top">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#side-nav" aria-controls="side-nav" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    {% include '@OHMediaBackend/include/nav_top_right.html.twig' %}

    <div class="offcanvas offcanvas-start" tabindex="-1" id="side-nav" aria-labelledby="offcanvasNavbarLabel">
      <a href="/admin" class="offcanvas-header">
        {% include '@OHMediaBackend/include/logo.html.twig' %}
      </a>
      <div class="offcanvas-body">
        {% include '@OHMediaBackend/include/nav_side.html.twig' %}
      </div>
    </div>
  </nav>

  <div id="toasts"></div>

  <main>
    <div id="top-bar">
      <div id="top-bar-breadcrumbs">
        {% block breadcrumbs %}{% endblock %}
      </div>

      <div id="top-bar-actions">
        {% block actions %}{% endblock %}
      </div>
    </div>

    {{ bootstrap_alerts() }}

    {% block main %}{% endblock %}
  </main>

  <footer>&copy; OH! Media {{ 'now'|date('Y') }}</footer>

  {{ encore_entry_script_tags('backend', null, 'backend') }}

  {{ tinymce_script() }}

  {% include '@OHMediaBackend/include/javascripts_global.html.twig' %}

  {{ captcha_script() }}
  {{ file_script() }}

  {% block javascripts %}{% endblock %}
</body>
</html>
