<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% include '@OHMediaBackend/include/favicons.html.twig' %}

  {% set meta_title = block('meta_title') is defined
    ? block('meta_title')
    : null
  %}

  {{ meta_simple(meta_title) }}

  {{ encore_entry_link_tags('backend', null, 'backend') }}

  {% include '@OHMediaBackend/include/stylesheets_global.html.twig' %}

  {% block stylesheets %}{% endblock %}
</head>
<body>
  <div class="visually-hidden">
    <a href="#main-content">Skip to main content</a>
    <a href="#primary-navigation">Skip to primary navigation</a>
    <a href="#secondary-navigation">Skip to secondary navigation</a>
  </div>

  <nav id="top-nav" class="navbar navbar-light fixed-top">
    {# wrapper preserves flex box for when button is hidden #}
    <div>
      <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#side-nav" aria-controls="side-nav" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    {% include '@OHMediaBackend/include/nav_top_right.html.twig' %}

    <div class="offcanvas offcanvas-start" tabindex="-1" id="side-nav">
      {# used for a keyboard navigation skip link #}
      <div id="primary-navigation"></div>

      <a href="/admin" class="offcanvas-header" aria-label="Home">
        {% include '@OHMediaBackend/include/logo.html.twig' %}
      </a>
      <div class="offcanvas-body">
        {% include '@OHMediaBackend/include/nav_side.html.twig' %}
      </div>
    </div>
  </nav>

  <div id="toasts"></div>

  {# used for a keyboard navigation skip link #}
  <div id="main-content"></div>

  <main>
    <div id="top-bar">
      <div id="top-bar-breadcrumbs">
        {% block breadcrumbs %}{% endblock %}
      </div>

      <div id="top-bar-actions">
        <div id="top-bar-actions-inner">
          {% block actions %}{% endblock %}
        </div>
      </div>
    </div>

    {{ bootstrap_alerts() }}

    {% block main %}{% endblock %}
  </main>

  <footer>&copy; OH! Media {{ 'now'|date('Y') }}</footer>

  {{ encore_entry_script_tags('backend', null, 'backend') }}

  {{ tinymce_script() }}
  {{ shortcode_script() }}

  {% include '@OHMediaBackend/include/javascripts_global.html.twig' %}

  {{ captcha_script() }}
  {{ file_script() }}

  {% block javascripts %}{% endblock %}
</body>
</html>
